<app-header [pageName]="'HOME SECURITY'"></app-header>

<div class = "header">
    <div class="input-area">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Room name</mat-label>
            <input matInput type="text" [(ngModel)]="newRoom">
        </mat-form-field>
        <button mat-fab color="primary" (click)="onAddNewRoom()">
            ADD ROOM
        </button>    
    </div>

    <div class="lock-all-button">
        <button mat-fab color="primary" (click)="lockEntryPoints()">
            Lock all entry points
        </button>
    </div>

</div>

<div class="s-container">

    <div *ngFor="let item of rooms; let i = index">
        <mat-card class="s-item">
            <div class="room-name">
                {{item.roomName}}
            </div> 

            <div class = "input-area-2">
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Entry point</mat-label>
                    <input matInput type="text" [(ngModel)]="item.newEntryPoint">
                </mat-form-field>
                <button mat-fab color="primary" (click)="onAddNewEntryPoint(item)">
                    Add entry point
                </button>   
            </div>

            <div class = "entry-points" *ngFor = "let entry of item.entryPoints; let j = index">
                <mat-card class="s-entry">
                    <label>
                        {{entry.entryPoint}}
                    </label> 
                    <div class="lock-area">
                        <mat-checkbox [(ngModel)]="entry.locked">Locked</mat-checkbox>
                    </div>
                      
                </mat-card>
            </div>
        </mat-card>

    </div>
</div>