<app-header [pageName]="'TV CONTROL'"></app-header>


<div class="input-area">
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Device</mat-label>
        <input matInput type="text" [(ngModel)]="newDevice">
      </mat-form-field>
      <button mat-fab color="primary" (click)="onAddNewDevice()">
        Add device
    </button>    
</div>

<div class="s-container">

    <div *ngFor="let item of tvs; let i = index">
        <mat-card class="l-item">
            <div class="device-name">
                {{item.device}}
            </div> 

        </mat-card>
        <mat-card>
            Start time: 
            <div>
                <ngx-timepicker-field [(ngModel)]="item.startTime" [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field>
            </div>
        </mat-card>
        <mat-card>
            Close time: 
            <div>
                <ngx-timepicker-field [(ngModel)]="item.closeTime" [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field>
            </div>
        </mat-card>
    
        
    </div>

</div>