<app-header [pageName]="'TV CONTROL'"></app-header>


<div class="input-area">
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Device</mat-label>
        <input matInput type="text" [(ngModel)]="newDevice">
      </mat-form-field>
      <button mat-fab color="primary" (click)="onAddNewDevice()">
        Add device
    </button>    
</div>



<div class="s-container">

    <div *ngFor="let item of tvs; let i = index">
        <mat-card class="s-item">
            <div class="device-name">
                {{item.device}}
            </div> 

            <div class="inline-elem">
                <div class = "elem">
                <label> Start time: </label> 
                <div class = "date-picker">
                    <ngx-timepicker-field [(ngModel)]="item.startTime" [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field>
                </div>
                </div>

                <div class = "elem">
                <label> Close time: </label> 
                <div class = "date-picker">
                    <ngx-timepicker-field [(ngModel)]="item.closeTime" [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field>
                </div>
                </div>

            </div>

            <div class = "programs-list">
            <label> Programs: </label>
                <ul>
                    <li *ngFor="let program of programs; let i = index">
                        <div *ngIf="item.programs.includes(program); else elseBranch"> 
                            <mat-checkbox [checked]="true" (change)="managePrograms(item, program, false)">{{program}}</mat-checkbox>
                        </div>
                        <ng-template #elseBranch>
                            <mat-checkbox [checked]="false" (change)="managePrograms(item, program, true)" style="opacity: 50%;">{{program}}</mat-checkbox>
                        </ng-template>
                    </li>
                </ul>
            </div>
            
        
        </mat-card>
    
        
    </div>

</div>